.todoHeading {
    
        background-color: #BDC3C7; /* Light Gray */
        color: #2C3E50; /* Dark Blue-Grey */
    font-weight: 700;
    font-size: 50px;
    margin:15px;
    margin-bottom: 30px;

}