h1 {
    font-weight: 700;
    font-size: 50px;
    margin:15px;
    margin-bottom: 30px;

}
input{
    width: 50%;
}

.items{
    text-align: left;

}

.aqrow{
    margin: 10px;
    margin-left: 5px;
}
.aq-butn{
    min-width: 100px;
    margin-left:700px;
}